.divDetail{
    display: flex;
    flex-direction: row;
}

.dataBox{
    margin: 0% 10% 0 0;
    background-color: #282828e3;
    width: 50%;
}

.dataName{
    color: white;
    letter-spacing: -0.05em;
    font-family: "Ubuntu", sans-serif;
    font-size: 5em;
    text-shadow: 0 0 0.1em black, 0 0 0.1em black;
    margin: 10% 0 15% 0;
}

.data{
    color: white;
    line-height: 0.8em;
    font-family: "Ubuntu", sans-serif;
    font-size: 3em;
    text-shadow: 0 0 0.1em black, 0 0 0.1em black;
}

.img{
    margin: 6.86% 0 6.86% 0;
    border-radius: 100%;
    width: 509px;
    height: 509px;
}

@media screen and (max-width: 992px){
    .divDetail{
        flex-direction: column;
    }
    .dataBox{
        width: 100%;
    }
    .img{
        margin: 10%;
    }
}
