.body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 72pt;
    color: #17ADCA;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black;
    text-align: center;
}

.parrafo{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36pt;
    color: #17ADCA;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black;
    text-align: center;
}

.link{
    font-family: 'Ubuntu', sans-serif;
    font-size: 36pt;
    color: #17ADCA;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black;
    text-align: center;
    &:hover{
        color: rgb(6, 255, 6);
    }
}